<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
<body>
    <div class="formContainer">
        <h1>Dojo Survey</h1>
        <form action="result" method="POST">
            {% csrf_token %}

            <div class="formation">
                <label for="name">Name:</label>
                <input class="input" id="name" name="name" type="text" autofocus>
            </div>

            <div class="formation">
                <label for="dojo">Dojo Location: </label>
                <select class="select" name="dojo" id="dojo">
                    <option class="option" value="Seattle" selected>Seattle</option>
                    <option class="option" value="San Jose">San Jose</option>
                    <option class="option" value="Chicago">Chicago</option>
                    <option class="option" value="Atlanta">Atlanta</option>
                    <option class="option" value="Miami">Miami</option>
                    <option class="option" value="Online">Online</option>
                </select>
            </div>

            <div class="formation">
                <label for="language">Favorite Language: </label>
                <select class="select" name="language" id="language">
                    <option class="option" value="C#" selected>C#</option>
                    <option class="option" value="Java">Java</option>
                    <option class="option" value="JavaScript">JavaScript</option>
                    <option class="option" value="Python (Flask)">Python (Flask)</option>
                    <option class="option" value="Python (Django)">Python (Django)</option>
                    <option class="option" value="Ruby">Ruby</option>
                </select>
            </div>

            
            <div class="formation">
                <label for="text">Message:</label>
                <input class="input" id="text" name="text" type="text">
            </div>
            
            <div class="formation">
                <label for="ninja">Ninja Status:</label>
                <label class="radioLabel">
                    <input class="radio" id="ninja" type="radio" name="ninja" value="Black Belt"/>
                    <span>Black Belt</span>
                </label>

                <label class="radioLabel">
                    <input class="radio" id="ninja" type="radio" name="ninja" value="None" checked/>
                    <span>None</span>
                </label>
            </div>

            <div class="checkFormation">
                <p>Sign up for all our spam emails:</p>
                <br>
                <div class="checkboxContainer">
                    <label id="spamLabel" for="spam" class="check-box"><input name="spam" type="checkbox" id="spam" value="Yes Please!!"><span id="spamSpan"></span>  <b>Yes Please!</b> <em>Who doesn't love spam!!</em></label>
                </div>
            </div>

            <div class="buttonContainer">
                <button class="button" type="submit">Submit</button>
            </div>
        </form>
    </div>
    </body>
    </html>