<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Dojos and Ninjas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    
    <div>
        <div class="left">
            <h1>Add a Dojo</h1>
            <form action="/create" method="POST">
                {% csrf_token %}
                <input type="hidden" name="posty_post" value="create_dojo">
                <label for="name">Dojo Name: <input type="text" name="name" placeholder="Dojo Name..."></label>
                <label for="city">Dojo City: <input type="text" name="city" placeholder="Dojo City..."></label>
                <label for="state">Dojo State: <input type="text" name="state" placeholder="Dojo State..."></label>
                <label for="desc">Dojo Desc: <input type="text" name="desc" placeholder="Dojo Desc..."></label>

                <button type="submit">Submit</button>
            </form>
        </div>


        <div class="right">
            <h1>Add a Ninja</h1>
            <form action="/create" method="POST">
                {% csrf_token %}
                <input type="hidden" name="posty_post" value="create_ninja">
                <label for="first_name">First Name: <input type="text" name="first_name" placeholder="First Name..."></label>
                <label for="last_name">Last Name: <input type="text" name="last_name" placeholder="Last Name..."></label>
                <select name="dojo" >
                    {% for dojo in all_dojos %}
                        <option value={{dojo.id}}>{{dojo.name}}</option>
                    {% endfor %}
                </select>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
        

    <div class="results">
        <h3>Display All Dojos, and their Ninjas</h3>
        <ul>
            {% for dojo in all_dojos %}
            <li>Ninjas at the <a href="/dojo/{{dojo.id}}/view">{{dojo.name}}</a>  -  {{dojo.ninjas.all.count}} ninja(s)</li>
                <ul>
                    <!-- looping through each dojos's ninjas! -->
                    {% for ninja in dojo.ninjas.all %}
                    <li><em><a href="/ninja/{{ninja.id}}/view">{{ninja.first_name}} {{ninja.last_name}}</em></a> <b><a href="/ninja/{{ninja.id}}/delete">Delete</a></b></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>
        
</body>
</html>